{% extends "./base.html" %}
{% block content %}

<main role="main" class="container">
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="{{ url_for('static', filename='img/favicon.ico') }}" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Welcome @{{current_user.username|capitalize}}</h6><br>
      <small>2022 | EPL Match Predictor</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">

    <h6 class="border-bottom border-gray pb-2 mb-0">Change User to Admin</h6>






  </div>
</main>



{% endfor %}
{% endblock %}
